@layer defaults, components, utilities;

@layer defaults.tailwind {
  @tailwind base;
}

@layer components.tailwind {
  @tailwind components;
}

@layer utilities.tailwind {
  @tailwind utilities;
}

@layer defaults.variables {
  :root {
    /* Fonts */
    /* 
      --font-montserrat: 'Montserrat';
      Montserrat font variable is defined on '/src/assets/fonts/Montserrat

      --font-lato: 'Lato';
      Lato font variable is defined on '/src/assets/fonts/Lato 

    */

    /* Colors */
    --color-white      : #f5f6fa;
    --color-white-2    : #ffffff;
    --color-black-1    : #2f3640;
    --color-black-2    : #353b48;
    --color-black-3    : #111111;
    --color-gray       : #818181;
    --color-green      : #00ff68;
    --color-marine-blue: #273c75;
    --color-red        : #ff0000;
    --color-sky-blue   : #5d83ea;
    --color-yellow     : #ffc107;

    --shadow-1: 0 1px 5px 3px #b1b9d8;
    --shadow-2: 0 1px 5px 3px #474747;

    /* Dimensions */
    --min-mobile-with: 375px;
  }
}

@layer defaults.base {
  *:focus-visible {
    outline: solid var(--color-black-3) 4px;
  }

  body {
    min-height: 100svh;
    min-width: var(--min-mobile-width);
    background-color: var(--color-white)
  }

  /* body { */
  #__next > div {
    font-family: var(--font-lato), Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.15;
    color: var(--color-black-2);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--color-black-2);
  }
  
  img {
    all: revert;
    display: inline-block;
    max-inline-size: 100%; /* max-width: 100% */
    block-size: auto;      /* height: auto */
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
  }

  abbr[title] { text-decoration: none; }

  button, label, img, a {
    user-select: none;
  }

  @supports (text-wrap:pretty) {
    html {
      text-wrap: pretty;
    }
  }

  @supports (text-wrap:balance) {
    h1, h2, h3, h4, h5, h6 {
      text-wrap: balance;
    }
  }
}